@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Redressed&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-family-body:       Aleo, serif;
  --font-family-body-serif: Aleo, serif;
  --font-family-body-sans:  Raleway, sans-serif;
  --font-family-heading:    Amaranth, sans-serif;
  --font-family-cursive:    Redressed, sans-serif;
  --font-family-mono:       Roboto Mono, monospace;
}

body {
  margin-top: 2em;
  margin-left: 4em;
  margin-right: 4em;
  font-family: var(--font-family-body);
  font-weight: 300;
  font-size: 14pt;
  line-height: 120%;
}

:link, :visited {
  text-decoration: none;
  color: #008;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-container img {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1vw;
}

*.milk { font-variant: small-caps }

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  line-height: 120%;
}

 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
 }


code, tt {
  font-family: var(--font-family-mono);
  font-size: 90%;
}

table.milk-header {
  width: 100%;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
}

table.milk-header td {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

table.milk-header td:first-child {
  vertical-align: top;
  min-width: 100px;
  width: 25%;
  padding-top: 2em;
  margin-top: 2em;
}

table.milk-header td h1 {
  font-size: 24pt;
  padding-bottom: 0.2em;
}

table.milk-header td h2 {
  font-size: 18pt;
  padding-bottom: 1em;
}

table.milk-header td h3 {
  font-size: 12pt;
  padding-bottom: 0.2em;
}

table.milk-header td h2.fancy {
  font-family: var(--font-family-cursive);
  font-style: italic;
}

table.milk-header td p {
  font-size: 12pt;
  font-style: italic;
}

table.footer {
  border-collapse: collapse;
  margin-top: 2em;
  margin-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
  border-top-style: solid;
  border-top-color: #888;
  width: 100%;
  background-color: white;
  font-size: 12pt;
  font-family: var(--font-family-body-sans);
}

table.footer td {
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-align: left;
  vertical-align: top;
  color: #888;
}

table.footer td + td {
  text-align: right;
}

ul.main {
  margin-left: 8em;
}

ul.main li {
  margin-left: 1em;
}

p.main {
  font-weight: bold;
  padding-top: 10pt;
  margin-left: 8em;
}

table.ad {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-collapse: collapse;
  border-bottom-style: ridge;
  border-bottom-color: white;
  border-top-style: ridge;
  border-top-color: white;
}

table.ad td {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

table.ad td:first-child {
  width: 75%;
  min-width: 300px;
}

table.ad ins.adsbygoogle {
  display: inline-block;
  width: 600px;
  height:150px;
}

@media only screen and (pointer: coarse) and (hover: none) {
  body {
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-weight: 400;
  }

  table.milk-header td h1 {
    font-size: 18pt;
  }

  table.milk-header td h2 {
    font-size: 14pt;
  }

  table.milk-header td h3 {
    font-size: 12pt;
  }

  ul.main, p.main {
    margin-left: 1em;
    margin-right: 1em;
  }

  table.ad ins.adsbygoogle {
    display: inline-block;
    width: 300px;
    height:120px;
  }


}
