@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Redressed&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-family-body:       Aleo, serif;
  --font-family-body-serif: Aleo, serif;
  --font-family-body-sans:  Raleway, sans-serif;
  --font-family-heading:    Amaranth, sans-serif;
}

body {
  margin-top: 2em;
  margin-left:0;
  margin-right: 0;
  font-family: var(--font-family-body);
  font-weight: 300;
  font-size: 14pt;
  line-height: 120%;
}

:link, :visited {
  text-decoration: none;
  color: Purple;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-container img {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1vw;
}

h1
{
  font-family: var(--font-family-heading);
  line-height: 120%;
  margin-left: 3.6vw;

}

h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  line-height: 120%;
  margin-left: 2vw;
}

p {
  margin-left: 2vw;
  font-size: 1.2em;
}

 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
 }



.option-button {
  width: 16px; /* Adjust width as needed */
  height: 12px; /* Adjust height as needed */
  background-color: #008;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}

.option-button:hover {
  background-color: DarkGrey;
}

@media only screen and (pointer: coarse) and (hover: none) {
  body {
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-weight: 400;
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
  padding: 20px;
  padding-bottom: 100px; /* Adjust this value as needed */
}
footer {
  background-color: #eee;
  padding: 10px;
  text-align: center;
  flex-shrink: 0; /* Prevent footer from shrinking */
}
/* Add borders to the table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
